{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="title-block">
  <h2 class="floatleft" id="page-title">All Posts</h2>
  <div id="follow-button-container"></div>
</div>

<div class="clearboth"></div>

    {% if post_form %}
      <div class="post-container" id="post-container">
      <h4>New Post</h4>
        <form class="post-form" method="POST">
        {% csrf_token %}
        {{ post_form }}
        <button class="btn btn-primary" id="post-button">Post</button>
        </form>
      </div>
    {% endif %}
    
    <div id="posts">Currenly no posts to display!</div>
    <!-- loads page numbers into nav_footer. currently set to top of page -->
    <nav class="navbar" id="nav_footer"></nav>
    <!-- initial load, calls the function to load all posts -->
  <script>
    posts("no_user",1);
  </script>
          
{% endblock %}
